
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

.body{
    margin: 0;
    background: linear-gradient(90deg, rgba(9,80,144,1) 16%, rgba(92,60,198,1) 46%, rgba(150,3,56,1) 100%);
    background: rgb(9,80,144);
    font-family: 'Merriweather', serif;
}

.main{
    position:relative;
    top: 1vh;
    left: 1vw;
    height: 98vh;
    width: 98vw;
    background-color: rgb(112, 83, 83);
    border-radius: 50px;
    display: flex;
}

.esquerda{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.esquerda > h2{
    color: rgb(102, 20, 33);
}

.pocao{
    width: 500px;
    height: 500px;
}

.direita{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    width: 30vw;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}











